/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@charset "UTF-8";

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.mat-step-header .mat-step-icon{
  background: rgba(53,97,163,0.43) !important;
}

.mat-step-header .mat-step-icon-selected {
  background: rgba(47,106,193,0.84) !important;
}

.mat-step-header .mat-step-icon-state-done {
  background: rgba(68,82,101,0.87) !important;
}

.mat-step-header .mat-step-icon-state-edit {
    background-color: #ffce00 !important;
}

ion-loading {
--spinner-color: rgba(255,167,80,1) !important;
}

body,html {
    font-family:'Montserrat', sans-serif !important;
    letter-spacing: 1.1px !important;
}
