<ion-header translucent>
  <ion-toolbar>
    <ion-title>Contact Info</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="contact"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{manager.name}}</h2>
        <h3>{{manager.phone}}</h3>
        <p>Manager</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="contact"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{dispatch.name}}</h2>
        <h3>{{dispatch.phone}}</h3>
        <p>Dispatch</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="contact"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{service.name}}</h2>
        <h3>{{service.phone}}</h3>
        <p>Service</p>
      </ion-label>
    </ion-item>
  </ion-list>