<!-- <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="presentModal()" color="secondary"><ion-icon name="call"></ion-icon></ion-fab-button>        
  </ion-fab> -->
<ion-content fullscreen>
  <div style="padding-left: 18px;background-color: rgba(47,106,193,0.84)">
    <ion-text color="light" class="ion-padding">
      <h6 style="padding-bottom: 1px; margin-bottom: 8px;" *ngIf="today.getHours() >= 17">Good Evening {{ user?user.name: ''}} !</h6>
      <h6 style="padding-bottom: 1px; margin-bottom: 8px;" *ngIf="today.getHours() < 17 && today.getHours() >= 12">Good Afternoon {{user?user.name:''}} !</h6>
      <h6 style="padding-bottom: 1px; margin-bottom: 8px;" *ngIf="today.getHours() < 12 && today.getHours() >= 5">Good Morning {{user?user.name:''}} !</h6>
      <small style="font-weight: bold;display: block;" *ngIf="user">{{today | date}}</small>
    </ion-text>
    <div *ngIf="route" style="display: flex; flex-wrap: wrap; justify-content: start; padding-right: 15px;" class="ion-padding-vertical">
      <div>
        <ion-text color="light">
          <span><ion-icon style="font-size: 20px;vertical-align: middle !important;" name="document"></ion-icon>&nbsp;<small>{{route.route}}</small></span>
        </ion-text>
      </div>
      <div style="margin-left: 30px;">
        <ion-text color="light">
          <span><ion-icon style="font-size: 20px;vertical-align: middle !important;" name="logo-model-s"></ion-icon>&nbsp;<small>{{route.van}}</small></span>
        </ion-text>
      </div>
      <div style="margin-left: 30px;">
        <ion-text color="light">
          <span><ion-icon style="font-size: 20px;vertical-align: middle !important;" name="logo-android"></ion-icon>&nbsp;<small>{{route.rabbit}}</small></span>
        </ion-text>
      </div>
      <!-- <div>
        <ion-text color="light">
          <span style="color: #28e070;"> <ion-icon style="font-size: 10px;" name="water"></ion-icon>&nbsp;<small>Delivering</small></span>
        </ion-text>
      </div> -->
    </div>
  </div>
    <ion-list>
      <ion-list-header>
        <ion-text color="medium" class="ion-text-right">
          YOUR DAY SO FAR
        </ion-text>
      </ion-list-header>
     
<mat-vertical-stepper style="background-image: radial-gradient( circle 621px at 25.3% 13.8%,  rgba(255,255,255,1) 0%, rgba(234,236,255,1) 90% );" [linear]="linear" [selectedIndex]="stepperIndex" #stepper>
  <mat-step editable="false" [completed]="start">
      <ng-template matStepLabel>Start you day ! <br> <small class="d-block" *ngIf="daDay && daDay.clockIn">{{getDate(daDay.clockIn.time) | date: 'mediumTime'}}</small> </ng-template>
      <div>
        <ion-list style="background: transparent;">
        <ion-item style="background: transparent;" class="ion-margin-vertical">
          <ion-label position="floating"><small>Service Area</small></ion-label>
          <ion-select style="background: transparent;" [disabled]="daDay && daDay.clockIn" #select interface="popover">
            <ion-select-option value="burnaby"><small>Burnaby</small></ion-select-option>
            <ion-select-option value="victoria"><small>Victoria</small></ion-select-option>
            <ion-select-option value="nanaimo"><small>Nanaimo</small></ion-select-option>
            <ion-select-option value="kelowna"><small>Kelowna</small></ion-select-option>
            <ion-select-option value="kamloops"><small>Kamloops</small></ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item style="background: transparent;" class="ion-margin-vertical">
          <ion-label position="stacked"><small>Route Number</small></ion-label>
          <ion-input style="background: transparent;" #routeN [disabled]="!select.value || daDay && daDay.clockIn || start" type="number"></ion-input>
        </ion-item>
        <ion-item style="background: transparent;" class="ion-margin-vertical">
            <ion-label position="stacked"><small>Van Number</small></ion-label>
            <ion-input style="background: transparent;" #van [disabled]="!routeN.value || daDay && daDay.clockIn || start" type="text"></ion-input>
        </ion-item>
        <ion-item style="background: transparent;" class="ion-margin-vertical">
          <ion-label position="stacked"><small>Rabbit Number</small></ion-label>
          <ion-input style="background: transparent;" #rabbit [disabled]="!van.value || daDay && daDay.clockIn || start" type="text"></ion-input>
        </ion-item>
      </ion-list>
        <ion-button color="secondary" size="small" (click)="userClockIn(select.value,routeN.value,van.value,rabbit.value)" [disabled]="!rabbit.value || daDay && daDay.clockIn" expand="block"><ion-icon name="alarm"></ion-icon>&nbsp; Clock In</ion-button>
      </div>
  </mat-step>
  <mat-step editable="false" [completed]="fStop">
      <ng-template matStepLabel>Punch in First Stop</ng-template>
      <div *ngIf="!route || !route.lWarehouse" style="background-image: radial-gradient( circle 621px at 25.3% 13.8%,  rgba(255,255,255,1) 0%, rgba(234,236,255,1) 90% );border-radius: 5%;">
        <div style=" margin-top: -10px;padding-top: 20px;">
          <span style="color: #7178a2;text-align: center; display: block; padding-bottom: -5px;font-weight: bold;">AT STATION <ion-icon name="pin"></ion-icon></span>
          <small style="display: block;margin:auto;margin-top: 15px;text-align: center; color: #989aa2;">Things you need before leaving</small>
        </div>
        <div style="margin-top: 30px;">
          <div style="display: inline;margin-left: 10px;">
          <span><ion-icon style="vertical-align: middle;" color="secondary" name="logo-android"></ion-icon></span> <small>&nbsp; Working Rabbit</small>
          </div>
          <div style="display: inline; margin-left: 10px;">
          <span><ion-icon style="vertical-align: middle;" color="secondary" name="battery-charging"></ion-icon></span> <small>&nbsp; Working Charger</small> <br>
          </div>
          <div style="margin-top: 20px; padding-bottom: 10px;">
            <div style="display: inline; margin-left: 15px;">
            <span><ion-icon style="vertical-align: middle;" color="secondary" name="beaker"></ion-icon></span> <small>&nbsp; Enough Fuel</small>
            </div>
            <div style="display: inline; margin-left: 30px;">
              <span><ion-icon style="vertical-align: middle;" color="secondary" name="body"></ion-icon></span> <small>&nbsp; Safety Vest</small> <br>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="route && route.lWarehouse" style="width:200px;">
        <p><small style="color: #989aa2;">Left Station at {{getDate(route.lWarehouse.time) | date: 'shortTime'}}</small></p>
        <ion-button color="secondary" size="small" style="margin: auto;" [disabled]="fStop" (click)="punchFD()" expand="block">Punch In</ion-button>
      </div>
  </mat-step>
  <mat-step [editable]="!lTry" [completed]="fStop">
    <ion-slides [options]="scanSlide">
      <ion-slide>
        <div style="background-image: radial-gradient( circle 621px at 25.3% 13.8%,  rgba(255,255,255,1) 0%, rgba(234,236,255,1) 90% );border-radius: 5%; padding: 20px;">
          <small style="text-align: left; padding-bottom: 45px; display: block; color: #7178a2; font-weight: bold;">PACKAGES &nbsp; <ion-icon style="vertical-align: middle; font-size: 16px;"  name="cube"></ion-icon></small>
      <!-- <ion-searchbar style="height:37px !important;width:265px;margin-bottom: 15px !important;" translucent="true" (click)="scanTBC({search: true})" placeholder="Search TBC" #v debounce="500" (ionInput)="getSearchedListings($event)"  autocomplete="on" animated></ion-searchbar> -->
      <small style="text-align: center; padding-bottom: 30px; display: block; color: #989aa2;">scan all your returns here</small>
      <mat-accordion style="margin-top: 10px !important;">
        <mat-expansion-panel style="width: 250px;margin-left: auto; margin-right: auto;" *ngIf="assigned.length > 0">
          <mat-expansion-panel-header collapsedHeight="37px">
            <mat-panel-title>
              <small style="font-weight: bold;">ASSIGNED</small>
            </mat-panel-title>
            <mat-panel-description>
              <ion-badge  style="text-align: center !important;margin-right:10px !important;margin-left: auto !important;" color="secondary">{{assigned.length}}</ion-badge>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ion-list style="width: 200px;">
            <ion-item *ngFor="let pkg of assigned" style="width: 100%;">
              <div>
                <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">   
                  <small style="letter-spacing: 1.2px;" class="text-primary">{{pkg.tbc}}</small>
                  <span style="margin-left: 25px !important; display: inline;"><ion-icon name="options" (click)="actionOnPkg(pkg)" ></ion-icon></span>
                </div>
                <small style="display: block;opacity: 0.6; font-size: 11px;">{{getDate(pkg.actions[pkg.actions.length-1].date) | date: 'mediumTime'}}</small>
              </div>
            </ion-item>
            </ion-list>
        </mat-expansion-panel>
          <mat-expansion-panel style="width: 250px;margin-left: auto; margin-right: auto;" *ngIf="uta.length > 0">
            <mat-expansion-panel-header collapsedHeight="37px">
              <mat-panel-title>
                <small style="font-weight: bold;">UTA</small>
              </mat-panel-title>
              <mat-panel-description>
                <ion-badge  style="text-align: center !important;margin-right:10px !important;margin-left: auto !important;" color="secondary">{{uta.length}}</ion-badge>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ion-list  style="width: 200px;">
              <ion-item *ngFor="let pkg of uta" style="width: 100%;">
                <div>
                  <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">   
                    <small style="letter-spacing: 1.2px;" class="text-primary">{{pkg.tbc}}</small>
                    <span style="margin-left: 25px !important; display: inline;"><ion-icon name="options" (click)="actionOnPkg(pkg)" ></ion-icon></span>
                  </div>
                  <small style="display: block;opacity: 0.6; font-size: 11px;">{{getDate(pkg.actions[pkg.actions.length-1].date) | date: 'mediumTime'}}</small>
                </div>
              </ion-item>
              </ion-list>
          </mat-expansion-panel>
          <mat-expansion-panel style="width: 250px;margin-left: auto; margin-right: auto;" *ngIf="utl.length > 0">
            <mat-expansion-panel-header collapsedHeight="37px">
              <mat-panel-title>
                <small style="font-weight: bold;">UTL</small>
              </mat-panel-title>
              <mat-panel-description>
                <ion-badge  style="text-align: center !important;margin-right:10px !important;margin-left: auto !important; " color="secondary">{{utl.length}}</ion-badge>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ion-list  style="width: 200px;">
              <ion-item *ngFor="let pkg of utl" style="width: 100%;">
                <div>
                  <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">   
                    <small style="letter-spacing: 1.2px;" class="text-primary">{{pkg.tbc}}</small>
                    <span style="margin-left: 25px !important; display: inline;"><ion-icon name="options" (click)="actionOnPkg(pkg)" ></ion-icon></span>
                  </div>
                  <small style="display: block;opacity: 0.6; font-size: 11px;">{{getDate(pkg.actions[pkg.actions.length-1].date) | date: 'mediumTime'}}</small>
                  
                </div>
              </ion-item>
              </ion-list>
          </mat-expansion-panel>
          <mat-expansion-panel style="width: 250px;margin-left: auto; margin-right: auto;" *ngIf="extra.length > 0">
            <mat-expansion-panel-header collapsedHeight="37px">
              <mat-panel-title>
                <small style="font-weight: bold;">EXTRA</small>
              </mat-panel-title>
              <mat-panel-description>
                <ion-badge  style="text-align: center !important;margin-right:10px !important;margin-left: auto !important; " color="secondary">{{extra.length}}</ion-badge>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ion-list  style="width: 200px;">
              <ion-item *ngFor="let pkg of extra" style="width: 100%;">
                <div>
                  <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">   
                    <small style="letter-spacing: 1.2px;" class="text-primary">{{pkg.tbc}}</small>
                    <span style="margin-left: 25px !important; display: inline;"><ion-icon name="options" (click)="actionOnPkg(pkg)" ></ion-icon></span> <br>
                    <small *ngIf="pkg.extra && pkg.extra.pickedUp" style="color: #10dc60;">PICKED</small> <small *ngIf="pkg.extra && !pkg.extra.pickedUp && pkg.extra.assigned" style="color: #ffce00;">ASSIGNED</small>
                  </div>
                  <small *ngIf="pkg.extra && !pkg.extra.pickedUp && !pkg.extra.assigned" style="color: #f04141;">PENDING</small>
                </div>
              </ion-item>
            </ion-list>
          </mat-expansion-panel>
          <mat-expansion-panel style="width: 250px;margin-left: auto; margin-right: auto;" *ngIf="missing.length > 0">
            <mat-expansion-panel-header collapsedHeight="37px">
              <mat-panel-title>
                <small style="font-weight: bold;"> MISSING</small>
              </mat-panel-title>
              <mat-panel-description>
                <ion-badge  style="text-align: center !important;margin-right:10px !important;margin-left: auto !important; " color="secondary">{{missing.length}}</ion-badge>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ion-list  style="width: 200px;">
              <ion-item *ngFor="let pkg of missing" style="width: 100%;">
                <div>
                  <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">   
                    <small style="letter-spacing: 1.2px;" class="text-primary">{{pkg.tbc}}</small>
                    <span style="margin-left: 25px !important; display: inline;"><ion-icon name="options" (click)="actionOnPkg(pkg)" ></ion-icon></span>
                  </div>
                  <small style="display: block;opacity: 0.6; font-size: 11px;">{{getDate(pkg.actions[pkg.actions.length-1].date) | date: 'mediumTime'}}</small>
                  
                </div>
              </ion-item>
              </ion-list>
          </mat-expansion-panel>
          <mat-expansion-panel style="width: 250px;margin-left: auto; margin-right: auto;" *ngIf="bc.length > 0">
            <mat-expansion-panel-header collapsedHeight="37px">
              <mat-panel-title>
                <small style="font-weight: bold;">BC</small>
              </mat-panel-title>
              <mat-panel-description>
                <ion-badge  style="text-align: center !important;margin-right:10px !important;margin-left: auto !important; " color="secondary">{{bc.length}}</ion-badge>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ion-list>
              <ion-item *ngFor="let pkg of bc" style="width: 100%;">
                <div>
                  <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">   
                    <small style="letter-spacing: 1.2px;" class="text-primary">{{pkg.tbc}}</small>
                    <span style="margin-left: 25px !important; display: inline;"><ion-icon name="options" (click)="actionOnPkg(pkg)" ></ion-icon></span>
                  </div>
                  <small style="display: block;opacity: 0.6; font-size: 11px;">{{getDate(pkg.actions[pkg.actions.length-1].date) | date: 'mediumTime'}}</small>
                  
                </div>
              </ion-item>
              </ion-list>
          </mat-expansion-panel>
          <mat-expansion-panel style="width: 250px;margin-left: auto; margin-right: auto;" *ngIf="oodt.length > 0">
            <mat-expansion-panel-header collapsedHeight="37px">
              <mat-panel-title>
                <small style="font-weight: bold;">OODT</small>
              </mat-panel-title>
              <mat-panel-description>
                <ion-badge  style="text-align: center !important;margin-right:10px !important;margin-left: auto !important; " color="secondary">{{oodt.length}}</ion-badge>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ion-list  style="width: 200px;">
              <ion-item *ngFor="let pkg of oodt" style="width: 100%;">
                <div>
                  <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">   
                    <small style="letter-spacing: 1.2px;" class="text-primary">{{pkg.tbc}}</small>
                    <span style="margin-left: 25px !important; display: inline;"><ion-icon name="options" (click)="actionOnPkg(pkg)" ></ion-icon></span>
                  </div>
                  <small style="display: block;opacity: 0.6; font-size: 11px;">{{getDate(pkg.actions[pkg.actions.length-1].date) | date: 'mediumTime'}}</small>
                  
                </div>
              </ion-item>
              </ion-list>
          </mat-expansion-panel>
          <mat-expansion-panel style="width: 250px;margin-left: auto; margin-right: auto;" *ngIf="fdd.length > 0">
            <mat-expansion-panel-header collapsedHeight="37px">
              <mat-panel-title>
                <small style="font-weight: bold;">FDD</small>
              </mat-panel-title>
              <mat-panel-description>
                <ion-badge  style="text-align: center !important;margin-right:10px !important;margin-left: auto !important; " color="secondary">{{fdd.length}}</ion-badge>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ion-list  style="width: 200px;">
              <ion-item *ngFor="let pkg of fdd" style="width: 100%;">
                <div>
                  <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">   
                    <small style="letter-spacing: 1.2px;" class="text-primary">{{pkg.tbc}}</small>
                    <span style="margin-left: 25px !important; display: inline;"><ion-icon name="options" (click)="actionOnPkg(pkg)" ></ion-icon></span>
                  </div>
                  <small style="display: block;opacity: 0.6; font-size: 11px;">{{getDate(pkg.actions[pkg.actions.length-1].date) | date: 'mediumTime'}}</small>
                  
                </div>
              </ion-item>
              </ion-list>
          </mat-expansion-panel>
          <mat-expansion-panel style="width: 250px;margin-left: auto; margin-right: auto;" *ngIf="rej.length > 0">
            <mat-expansion-panel-header collapsedHeight="37px">
              <mat-panel-title>
                <small style="font-weight: bold;">REJ/DMG</small>
              </mat-panel-title>
              <mat-panel-description>
                <ion-badge  style="text-align: center !important;margin-right:10px !important;margin-left: auto !important; " color="secondary">{{rej.length}}</ion-badge>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ion-list style="width: 200px;">
              <ion-item *ngFor="let pkg of rej">
                <div style="width: 100%;">
                  <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">                    
                    <small style="letter-spacing: 1.2px;" class="text-primary">{{pkg.tbc}}</small>
                    <ion-icon style="display: inline;" name="options" (click)="actionOnPkg(pkg)" ></ion-icon>
                  </div>
                  <small style="display: block;opacity: 0.6; font-size: 11px;">{{getDate(pkg.actions[pkg.actions.length-1].date) | date: 'mediumTime'}}</small>
                </div>
              </ion-item>
            </ion-list>
          </mat-expansion-panel>
          <mat-expansion-panel style="width: 250px;margin-left: auto; margin-right: auto;" *ngIf="dl.length > 0">
            <mat-expansion-panel-header collapsedHeight="37px">
              <mat-panel-title>
                <small style="font-weight: bold;">DELIVERED</small>
              </mat-panel-title>
              <mat-panel-description>
                <ion-badge  style="text-align: center !important;margin-right:10px !important;margin-left: auto !important; " color="secondary">{{dl.length}}</ion-badge>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ion-list  style="width: 200px;">
              <ion-item *ngFor="let pkg of dl" style="width: 100%;">
                <div>
                  <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">   
                    <small style="letter-spacing: 1.2px;" class="text-primary">{{pkg.tbc}}</small>
                    <span style="margin-left: 25px !important; display: inline;"><ion-icon name="options" (click)="actionOnPkg(pkg)" ></ion-icon></span> <br>
                    <small style="display: inline;opacity: 0.6; font-size: 11px;">{{getDate(pkg.actions[pkg.actions.length-1].date) | date: 'mediumTime'}}</small> &nbsp;
                  </div>
                  <small *ngIf="pkg.extra" style="color: #7178a2; font-weight: bold;">EXTRA</small>
                </div>
              </ion-item>
              </ion-list>
          </mat-expansion-panel>
        </mat-accordion>
        <div style="width:200px; margin:auto; margin-top: 20px !important; display: flex; justify-content: start; align-content: center; background: transparent !important;">
          <div style="width: 80%;">
            <ion-button size="small" expand="block" (click)="markNewPackage()" color="secondary">Scan &nbsp;<ion-icon style="vertical-align: middle;" mode="ios" name="barcode"></ion-icon></ion-button>
          </div>
          <div style="width: 20%;" (click)="getTBC()">
            <ion-icon style="vertical-align: middle;margin-top: 5px; font-size: 25px;" color="secondary" name="keypad"></ion-icon>
          </div>
        </div>
      </div>
        </ion-slide>
        <ion-slide>
          <ion-list lines="none" style="background-image: radial-gradient( circle 621px at 25.3% 13.8%,  rgba(255,255,255,1) 0%, rgba(234,236,255,1) 90% );border-radius: 5%;">
              <ion-list-header>
                <ion-text class="ion-text-right" style="font-weight: bold; color: #7178a2;">
                  BREAKS &nbsp; <ion-icon style="vertical-align: middle; font-size: 16px;" name="clock"></ion-icon>
                </ion-text>
              </ion-list-header>
              <ion-item style="width: 250px;">
                <ion-label color="dark"><small>15 minutes</small></ion-label>
                <ion-icon *ngIf="!route || !route.breaks || !route.breaks['15']" color="secondary" (click)="puchBreak('15')" name="play-circle"></ion-icon>
                <ion-chip *ngIf="route && route.breaks && route.breaks['15']" color="secondary">
                    <ion-label><small>{{getDate(route.breaks['15'].time) | date: 'shortTime'}} - {{getDate(route.breaks['15'].time).setMinutes(getDate(route.breaks['15'].time).getMinutes() + 15) | date: 'shortTime'}}</small></ion-label>
                  </ion-chip>
              </ion-item>
              <ion-item style="width: 250px;">
                <ion-label color="dark"><small>15 minutes</small></ion-label>
                <ion-icon *ngIf="!route || !route.breaks || !route.breaks['15_2']" color="secondary" (click)="puchBreak('15_2')" name="play-circle"></ion-icon>
                <ion-chip *ngIf="route && route.breaks && route.breaks['15_2']" color="secondary">
                    <ion-label><small>{{getDate(route.breaks['15_2'].time) | date: 'shortTime'}} - {{getDate(route.breaks['15_2'].time).setMinutes(getDate(route.breaks['15_2'].time).getMinutes() + 15) | date: 'shortTime'}}</small></ion-label>
                  </ion-chip>
              </ion-item> 
              <ion-item style="width: 250px;">
                <ion-label color="dark"><small>30 minutes</small></ion-label>
                <ion-icon *ngIf="!route || !route.breaks || !route.breaks['30']" color="secondary" (click)="puchBreak('30')" name="play-circle"></ion-icon>
                <ion-chip *ngIf="route && route.breaks && route.breaks['30']" color="secondary">
                  <ion-label><small>{{getDate(route.breaks['30'].time) | date: 'shortTime'}} - {{getDate(route.breaks['30'].time).setMinutes(getDate(route.breaks['30'].time).getMinutes() + 30) | date: 'shortTime'}}</small></ion-label>
                </ion-chip>
              </ion-item>
            </ion-list>
      </ion-slide>
      </ion-slides>
      <ng-template matStepLabel>On Road Process</ng-template>
    </mat-step>
    <mat-step editable="false" [completed]="fTry">
      <ng-template matStepLabel>First Last Attempt</ng-template>
      <div style="width:200px">
        <ion-button color="secondary" size="small" style="margin: auto;" class="ion-margin" [disabled]="fTry" (click)="fAttempt()" expand="block"> Punch In</ion-button>
      </div>
    </mat-step>
    <mat-step editable="false" [completed]="lTry">
      <ng-template matStepLabel>Last Attempt</ng-template>
      <div style="width:200px">
        <ion-button color="secondary" size="small" style="margin: auto;" [disabled]="lTry" (click)="lAttempt()" expand="block"> Punch In</ion-button>
      </div>
    </mat-step>
    <mat-step editable="false" [completed]="rtsScan">
      <ng-template matStepLabel>RTS</ng-template>
      <div>
        <ion-slides style="height: 250px;" [options]="sliderOptions" #slides>
          <ion-slide style="background-image: radial-gradient( circle 621px at 25.3% 13.8%,  rgba(255,255,255,1) 0%, rgba(234,236,255,1) 90% );border-radius: 5%;">
            <div style="padding: 10px 0 10px 0;">
              <div style="width: 100%;">
                <ion-icon style="font-size: 50px;" name="pin"></ion-icon>
                <small style="display: block;margin-top: 10px;">Have you arrived at the station already?</small>
              </div>
              <div style="width: 75%;margin: auto;">
                <ion-button color="secondary" style="margin-top: 80px;" [disabled]="arrived" (click)="arrivedAtStation()" expand="block">Arrived</ion-button>
              </div>
            </div>
          </ion-slide>
          <ion-slide style="background-image: radial-gradient( circle 621px at 25.3% 13.8%,  rgba(255,255,255,1) 0%, rgba(234,236,255,1) 90% );border-radius: 5%;" *ngIf="uta.length > 0">
              <div  *ngIf="needToScan('UTA') as pkgs" style="padding: 3px 0 10px 0;">
                <div style="width: 100%; text-align: center;">
                  <h3>UTA</h3>
                  <small style="display: block;margin-top: 5px;">Please scan all of your utas.</small>
                </div>
                <div style="margin-top: 20px;">
                  <ion-progress-bar color="secondary" value="{{((uta.length - pkgs.length)/1.0)/uta.length}}"></ion-progress-bar>
                </div>
                <div *ngIf="pkgs.length > 0; else done;">
                  <small (click)="rtsPkgMark(pkgs[0])" class="animated bounceIn" style="display: block; margin-top: 50px;">{{pkgs[0].tbc}}</small>
                </div>
                <div style="width: 75%;margin: auto;">
                  <ion-button color="secondary" *ngIf="pkgs.length > 0" style="margin-top: 40px;" [disabled]="route && route.rtsScan && pkgs.length < 1" (click)="scanRTSPkg('UTA')" expand="block">Scan&nbsp;<ion-icon name="barcode"></ion-icon></ion-button>
                  <ion-button color="secondary" *ngIf="pkgs.length < 1"  style="margin-top: 40px;" [disabled]="pkgs.length > 0" (click)="finishSlide('UTA')">Next&nbsp; <ion-icon name="arrow-forward"></ion-icon></ion-button>
                </div>
              </div>
          </ion-slide>
          <ion-slide style="background-image: radial-gradient( circle 621px at 25.3% 13.8%,  rgba(255,255,255,1) 0%, rgba(234,236,255,1) 90% );border-radius: 5%;" *ngIf="fdd.length > 0">
            <div  *ngIf="needToScan('FDD') as pkgs" style="padding: 3px 0 10px 0;">
              <div style="width: 100%; text-align: center;">
                <h3>FDD</h3>
                <small style="display: block;margin-top: 5px;">Please scan all of your fdds.</small>
              </div>
              <div style="margin-top: 20px;">
                <ion-progress-bar color="secondary" value="{{((fdd.length - pkgs.length)/1.0)/fdd.length}}"></ion-progress-bar>
              </div>
              <div *ngIf="pkgs.length > 0; else done;">
                <small (click)="rtsPkgMark(pkgs[0])" class="animated bounceIn" style="display: block; margin-top: 50px;">{{pkgs[0].tbc}}</small>
              </div>
              <div style="width: 75%;margin: auto;">
                <ion-button color="secondary" *ngIf="pkgs.length > 0" style="margin-top: 40px;" [disabled]="route && route.rtsScan && pkgs.length > 0" (click)="scanRTSPkg('FDD')" expand="block">Scan&nbsp;<ion-icon name="barcode"></ion-icon></ion-button>
                <ion-button color="secondary" *ngIf="pkgs.length < 1"  style="margin-top: 40px;" [disabled]="pkgs.length > 0" (click)="finishSlide('FDD')">Next&nbsp; <ion-icon name="arrow-forward"></ion-icon></ion-button>
              </div>
            </div>
          </ion-slide>
          <ion-slide style="background-image: radial-gradient( circle 621px at 25.3% 13.8%,  rgba(255,255,255,1) 0%, rgba(234,236,255,1) 90% );border-radius: 5%;" *ngIf="bc.length > 0">
            <div  *ngIf="needToScan('BC') as pkgs" style="padding: 3px 0 10px 0;">
              <div style="width: 100%; text-align: center;">
                <h3>BC</h3>
                <small style="display: block;margin-top: 5px;">Please scan all of your bcs.</small>
              </div>
              <div style="margin-top: 20px;">
                <ion-progress-bar color="secondary" value="{{((bc.length - pkgs.length)/1.0)/bc.length}}"></ion-progress-bar>
              </div>
              <div *ngIf="pkgs.length > 0; else done;">
                <small (click)="rtsPkgMark(pkgs[0])" class="animated bounceIn" style="display: block; margin-top: 50px;">{{pkgs[0].tbc}}</small>
              </div>
              <div style="width: 75%;margin: auto;">
                <ion-button color="secondary" *ngIf="pkgs.length > 0" style="margin-top: 40px;" [disabled]="route && route.rtsScan && pkgs.length > 0" (click)="scanRTSPkg('BC')" expand="block">Scan&nbsp;<ion-icon name="barcode"></ion-icon></ion-button>
                <ion-button color="secondary" *ngIf="pkgs.length < 1"  style="margin-top: 40px;" [disabled]="pkgs.length > 0" (click)="finishSlide('BC')">Next&nbsp; <ion-icon name="arrow-forward"></ion-icon></ion-button>
              </div>
            </div>
          </ion-slide>
          <ion-slide style="background-image: radial-gradient( circle 621px at 25.3% 13.8%,  rgba(255,255,255,1) 0%, rgba(234,236,255,1) 90% );border-radius: 5%;" *ngIf="extra.length > 0">
            <div  *ngIf="needToScan('EXTRA') as pkgs" style="padding: 3px 0 10px 0;">
              <div style="width: 100%; text-align: center;">
                <h3>EXTRA</h3>
                <small style="display: block;margin-top: 5px;">Please scan all of your extras.</small>
              </div>
              <div style="margin-top: 20px;">
                <ion-progress-bar color="secondary" value="{{((extra.length - pkgs.length)/1.0)/extra.length}}"></ion-progress-bar>
              </div>
              <div *ngIf="pkgs.length > 0; else done;">
                <small (click)="rtsPkgMark(pkgs[0])" class="animated bounceIn" style="display: block; margin-top: 50px;">{{pkgs[0].tbc}}</small>
              </div>
              <div style="width: 75%;margin: auto;">
                <ion-button color="secondary" *ngIf="pkgs.length > 0" style="margin-top: 40px;" [disabled]="route && route.rtsScan && pkgs.length > 0" (click)="scanRTSPkg('EXTRA')" expand="block">Scan&nbsp;<ion-icon name="barcode"></ion-icon></ion-button>
                <ion-button color="secondary" *ngIf="pkgs.length < 1"  style="margin-top: 40px;" [disabled]="pkgs.length > 0" (click)="finishSlide('EXTRA')">Next&nbsp; <ion-icon name="arrow-forward"></ion-icon></ion-button>
              </div>
            </div>
          </ion-slide>
          <ion-slide style="background-image: radial-gradient( circle 621px at 25.3% 13.8%,  rgba(255,255,255,1) 0%, rgba(234,236,255,1) 90% );border-radius: 5%;" *ngIf="assigned.length > 0">
            <div  *ngIf="needToScan('ASSIGNED') as pkgs" style="padding: 3px 0 10px 0;">
              <div style="width: 100%; text-align: center;">
                <h3>ASSIGNED</h3>
                <small style="display: block;margin-top: 5px;">Please scan all of your assigned extras.</small>
              </div>
              <div style="margin-top: 20px;">
                <ion-progress-bar color="secondary" value="{{((assigned.length - pkgs.length)/1.0)/assigned.length}}"></ion-progress-bar>
              </div>
              <div *ngIf="pkgs.length > 0; else done;">
                <small (click)="rtsPkgMark(pkgs[0])" class="animated bounceIn" style="display: block; margin-top: 50px;">{{pkgs[0].tbc}}</small>
              </div>
              <div style="width: 75%;margin: auto;">
                <ion-button color="secondary" *ngIf="pkgs.length > 0" style="margin-top: 40px;" [disabled]="route && route.rtsScan && pkgs.length > 0" (click)="scanRTSPkg('ASSIGNED')" expand="block">Scan&nbsp;<ion-icon name="barcode"></ion-icon></ion-button>
                <ion-button color="secondary" *ngIf="pkgs.length < 1"  style="margin-top: 40px;" [disabled]="pkgs.length > 0" (click)="finishSlide('ASSIGNED')">Next&nbsp; <ion-icon name="arrow-forward"></ion-icon></ion-button>
              </div>
            </div>
          </ion-slide>
          <ion-slide style="background-image: radial-gradient( circle 621px at 25.3% 13.8%,  rgba(255,255,255,1) 0%, rgba(234,236,255,1) 90% );border-radius: 5%;" *ngIf="rej.length > 0">
            <div  *ngIf="needToScan('REJECTED') as pkgs" style="padding: 3px 0 10px 0;">
              <div style="width: 100%; text-align: center;">
                <h3>REJ/DMG</h3>
                <small style="display: block;margin-top: 5px;">Please scan all of your rejs.</small>
              </div>
              <div style="margin-top: 20px;">
                <ion-progress-bar color="secondary" value="{{((rej.length - pkgs.length)/1.0)/rej.length}}"></ion-progress-bar>
              </div>
              <div *ngIf="pkgs.length > 0; else done;">
                <small (click)="rtsPkgMark(pkgs[0])" class="animated bounceIn" style="display: block; margin-top: 50px;">{{pkgs[0].tbc}}</small>
              </div>
              <div style="width: 75%;margin: auto;">
                <ion-button color="secondary" *ngIf="pkgs.length > 0" style="margin-top: 40px;" [disabled]="route && route.rtsScan && pkgs.length > 0" (click)="scanRTSPkg('REJECTED')" expand="block">Scan&nbsp;<ion-icon name="barcode"></ion-icon></ion-button>
                <ion-button color="secondary" *ngIf="pkgs.length < 1"  style="margin-top: 40px;" [disabled]="pkgs.length > 0" (click)="finishSlide('REJECTED')">Next&nbsp; <ion-icon name="arrow-forward"></ion-icon></ion-button>
              </div>
            </div>
          </ion-slide>
          <ion-slide style="background-image: radial-gradient( circle 621px at 25.3% 13.8%,  rgba(255,255,255,1) 0%, rgba(234,236,255,1) 90% );border-radius: 5%;" *ngIf="utl.length > 0">
            <div  *ngIf="needToScan('UTL') as pkgs" style="padding: 3px 0 10px 0;">
              <div style="width: 100%; text-align: center;">
                <h3>UTL</h3>
                <small style="display: block;margin-top: 5px;">Please scan all of your utls.</small>
              </div>
              <div style="margin-top: 20px;">
                <ion-progress-bar color="secondary" value="{{((utl.length - pkgs.length)/1.0)/utl.length}}"></ion-progress-bar>
              </div>
              <div *ngIf="pkgs.length > 0; else done;">
                <small (click)="rtsPkgMark(pkgs[0])" class="animated bounceIn" style="display: block; margin-top: 50px;">{{pkgs[0].tbc}}</small>
              </div>
              <div style="width: 75%;margin: auto;">
                <ion-button color="secondary" *ngIf="pkgs.length > 0" style="margin-top: 40px;" [disabled]="route && route.rtsScan && pkgs.length > 0" (click)="scanRTSPkg('UTL')" expand="block">Scan&nbsp;<ion-icon name="barcode"></ion-icon></ion-button>
                <ion-button color="secondary" *ngIf="pkgs.length < 1"  style="margin-top: 40px;" [disabled]="pkgs.length > 0" (click)="finishSlide('UTL')">Next&nbsp; <ion-icon name="arrow-forward"></ion-icon></ion-button>
              </div>
            </div>
          </ion-slide>
          <ion-slide style="background-image: radial-gradient( circle 621px at 25.3% 13.8%,  rgba(255,255,255,1) 0%, rgba(234,236,255,1) 90% );border-radius: 5%;" *ngIf="oodt.length > 0">
            <div  *ngIf="needToScan('OODT') as pkgs" style="padding: 3px 0 10px 0;">
              <div style="width: 100%; text-align: center;">
                <h3>OODT</h3>
                <small style="display: block;margin-top: 5px;">Please scan all of your oodts.</small>
              </div>
              <div style="margin-top: 20px;">
                <ion-progress-bar color="secondary" value="{{((oodt.length - pkgs.length)/1.0)/oodt.length}}"></ion-progress-bar>
              </div>
              <div *ngIf="pkgs.length > 0; else done;">
                <small (click)="rtsPkgMark(pkgs[0])" class="animated bounceIn" style="display: block; margin-top: 50px;">{{pkgs[0].tbc}}</small>
              </div>
              <div style="width: 75%;margin: auto;">
                <ion-button color="secondary" *ngIf="pkgs.length > 0" style="margin-top: 40px;" [disabled]="route && route.rtsScan && pkgs.length > 0" (click)="scanRTSPkg('OODT')" expand="block">Scan&nbsp;<ion-icon name="barcode"></ion-icon></ion-button>
                <ion-button color="secondary" *ngIf="pkgs.length < 1"  style="margin-top: 40px;" [disabled]="pkgs.length > 0" (click)="finishSlide('OODT')">Next&nbsp; <ion-icon name="arrow-forward"></ion-icon></ion-button>
              </div>
            </div>
          </ion-slide>
          <ion-slide style="background-image: radial-gradient( circle 621px at 25.3% 13.8%,  rgba(255,255,255,1) 0%, rgba(234,236,255,1) 90% );border-radius: 5%;">
            <div style="padding: 3px 0 10px 0;">
              <div style="width: 100%; text-align: center;">
                <h3>COMPLETE</h3>
                <small style="display: block;margin-top: 5px;">You have scanned all your returns.</small>
              </div>
              <div style="margin-top: 20px;">
                <ion-progress-bar color="secondary" value="1"></ion-progress-bar>
              </div>
              <div style="width: 75%;margin: auto;">
                <ion-button color="secondary" style="margin-top: 40px;" (click)="nextSlide()">Finish&nbsp; <ion-icon name="checkmark-circle-outline"></ion-icon></ion-button>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
        <ng-template #done>
          <small style="display: block; margin-top: 50px; color: #28e070;">All Scanned</small>
        </ng-template>
        
      </div>
    </mat-step>
    <mat-step editable="false" [completed]="clockedOut">
      <ng-template matStepLabel>Clock Out</ng-template>
      <div style="width:200px;">
        <ion-button color="secondary" size="small" style="margin: auto;" [disabled]="clockedOut" (click)="clockOut()" expand="block">Punch In</ion-button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
    </ion-list>
</ion-content>