<ion-app  style="background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,249,255,1) 11.1%, rgba(255,241,255,1) 90% );">
  <div *ngIf="user && !user.emailVerified" style="width: 100%; text-align: center;margin-top: 46%;">
    <p>
      <ion-icon style="font-size:30px;" name="mail"></ion-icon> <br> <br>
       Please check your inbox for a verification email. <br> <span (click)="sendVerificationEmail()" style="color: orange;">resend verification</span>
    </p>
  </div> 
  <div *ngIf="user && user.emailVerified">
    <ion-tabs>
      <ion-tab-bar color="tertiary" slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="logo-buffer"></ion-icon>
          <ion-label>Dashboard</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="performance">
            <ion-icon name="flash"></ion-icon>
            <ion-label>Performance</ion-label>
          </ion-tab-button>
        <ion-tab-button tab="login">
          <ion-icon name="contact"></ion-icon>
          <ion-label>Account</ion-label>
        </ion-tab-button>
      </ion-tab-bar>  
    </ion-tabs>
  </div>
  <div *ngIf="!user && !showSlides" style="color: white !important;">
    <app-login></app-login>
  </div>
</ion-app>