<div style="color: white !important;" style="width: 100%;height: 100%;">
  <mat-tab-group style="display: block; width: 75%;margin:20vh auto;">
    <mat-tab class="text-white" label="LOG IN">
      <form [formGroup]="LogInForm">
        <ion-list style="background: transparent !important;" lines="full" class="ion-no-margin ion-no-padding">
          <ion-item class="ion-margin-vertical" style="background: transparent !important;" >
              <ion-label position="stacked" *ngIf="LogInForm && !LogInForm.controls.email.valid" color="{{ LogInForm && LogInForm.controls.email.errors && LogInForm.controls.email.dirty ? 'danger' : 'primary' }}"> Email </ion-label>
              <ion-label position="stacked" *ngIf="LogInForm && LogInForm.controls.email.valid" color="success"> Email </ion-label>
            <ion-input style="background: transparent;" clearInput inputmode="email" color="primary" formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-item class="ion-margin-vertical" style="background: transparent !important;">
              <ion-label position="stacked" *ngIf="LogInForm && !LogInForm.controls.password.valid" color="{{ LogInForm && LogInForm.controls.password.errors && LogInForm.controls.password.dirty ? 'danger' : 'primary' }}"> Password </ion-label>
              <ion-label position="stacked" *ngIf="LogInForm && LogInForm.controls.password.valid" color="success"> Password </ion-label>
            <ion-input style="background: transparent !important;" clearInput inputmode="password" color="primary" formControlName="password" type="password"></ion-input>
          </ion-item>
          <ion-text color="seconday" class="ion-text-center">
            <p style="color: #383a3e;" (click)="presentAlertPrompt()">Forgot Password?</p>
          </ion-text>
          <ion-button expand="full" color="primary" [disabled]="!LogInForm || !LogInForm.valid" (click)="logIn()" >Log in</ion-button>
        </ion-list>
      </form>
    </mat-tab>
    <mat-tab expand="block" label="REGISTER">
      <div>
        <form [formGroup]="userForm">
          <ion-list style="background: transparent !important;"  lines="full" class="ion-no-margin ion-no-padding">
            <ion-item class="ion-margin-vertical" style="background: transparent !important;" >
                <ion-label position="stacked" *ngIf="userForm && !userForm.controls.name.valid" color="{{ userForm && userForm.controls.name.errors && userForm.controls.name.dirty ? 'danger' : 'primary' }}"> Full Name </ion-label>
                <ion-label position="stacked" *ngIf="userForm && userForm.controls.name.valid" color="success"> Full Name </ion-label>
              <ion-input style="background: transparent !important;" clearInput required inputmode="text" color="primary" formControlName="name" type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="userForm && userForm.controls.email.errors && userForm.errors && userForm.controls.email.dirty">
              
            </ion-item>
            <ion-item class="ion-margin-vertical" style="background: transparent !important;" >
                <ion-label position="stacked" *ngIf="userForm && !userForm.controls.tel.valid" color="{{ userForm && userForm.controls.tel.errors && userForm.controls.tel.dirty ? 'danger' : 'primary' }}"> Phone </ion-label>
                <ion-label position="stacked" *ngIf="userForm && userForm.controls.tel.valid" color="success"> Phone </ion-label>
                <ion-input style="background: transparent !important;" clearInput inputmode="tel" color="primary" formControlName="tel" type="tel" ><ion-note color="primary" slot="start">+1&nbsp;</ion-note></ion-input>
            </ion-item>
            <ion-item class="ion-margin-vertical" style="background: transparent !important;" >
                <ion-label position="stacked" *ngIf="userForm && !userForm.controls.email.valid" color="{{ userForm && userForm.controls.email.errors && userForm.controls.email.dirty ? 'danger' : 'primary' }}"> Email </ion-label>
                <ion-label position="stacked" *ngIf="userForm && userForm.controls.email.valid" color="success"> Email </ion-label>
              <ion-input style="background: transparent !important;" clearInput required inputmode="email" color="primary" formControlName="email" type="email" ></ion-input>
            </ion-item>
            <ion-item class="ion-margin-vertical" style="background: transparent !important;">
                <ion-label position="stacked" *ngIf="userForm && !userForm.controls.password.valid" color="{{ userForm && userForm.controls.password.errors && userForm.controls.password.dirty ? 'danger' : 'primary' }}"> Password </ion-label>
                <ion-label position="stacked" *ngIf="userForm && userForm.controls.password.valid" color="success"> Password </ion-label>
              <ion-input style="background: transparent !important;" clearInput required inputmode="password" color="primary" formControlName="password" type="password" ></ion-input>
            </ion-item>
            <ion-item class="ion-margin-vertical" style="background: transparent !important;">
                <ion-label position="stacked" *ngIf="userForm && !userForm.controls.cPassword.valid || !userForm.controls.password.valid" color="{{ userForm && userForm.controls.cPassword.errors && !userForm.controls.password.valid && userForm.controls.cPassword.dirty ? 'danger' : 'primary' }}"> Confirm Password </ion-label>
                <ion-label position="stacked" *ngIf="userForm && userForm.controls.cPassword.valid && userForm.controls.password.valid" color="success"> Confirm Password </ion-label>
              <ion-input style="background: transparent !important;" clearInput required inputmode="password" color="primary" formControlName="cPassword" type="password"></ion-input>
            </ion-item>
            <ion-button [disabled]="!userForm.valid" expand="full" (click)="signUp()"  color="primary">Register</ion-button>
          </ion-list>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
