<ion-content fullscreen>
    <ion-list class="ion-padding" style="margin:auto !important;">
        <ion-item lines="none" class="ion-align-items-center ion-padding-bottom">
            <ion-avatar style="width:170px; height: 170px; margin-left: auto; margin-right: auto;">
                <img [src]="user && user.imgURL? user.imgURL: '../../assets/user.png'"/>
            </ion-avatar>
        </ion-item>
        <ion-item [disabled]="edit" style="padding-bottom: 17px !important;">
            <ion-label color="medium"><small><ion-icon style="vertical-align: middle !important;" name="megaphone"></ion-icon>&nbsp; Name</small></ion-label>
            <ion-text style="max-width: 60% !important; overflow: hidden !important; text-overflow: ellipsis !important;" slot="end" color="primary"><small style="font-size: 15px;">{{user? user.name: 'N/A'}}</small></ion-text>
        </ion-item>
        <ion-item [disabled]="edit" style="padding-bottom: 17px !important;">
            <ion-label color="medium"><small><ion-icon style="vertical-align: middle !important;" name="finger-print"></ion-icon>&nbsp; T ID</small></ion-label>
            <ion-text style="max-width: 60% !important; overflow: hidden !important; text-overflow: ellipsis !important;" slot="end" color="primary"><small style="font-size: 15px;">{{user && user.tid? user.tid: 'basjbajhbsdjasbdjab'}}</small></ion-text>
        </ion-item>
        <ion-item *ngIf="!edit" [disabled]="edit" style="padding-bottom: 17px !important;">
            <ion-label color="medium"><small><ion-icon style="vertical-align: middle !important;" name="call"></ion-icon>&nbsp; Phone</small></ion-label>
            <ion-text style="max-width: 60% !important; overflow: hidden !important; text-overflow: ellipsis !important;" slot="end" color="primary"><small style="font-size: 15px;">{{user? user.phone: 'N/A'}}</small></ion-text>
        </ion-item>
        <ion-item *ngIf="edit" [disabled]="!edit" style="padding-bottom: 17px !important;">
            <ion-label color="medium"><small><ion-icon style="vertical-align: middle !important;" name="call"></ion-icon>&nbsp; Phone</small></ion-label>
            <ion-input value="{{user && user.phone? user.phone: ''}}" minlength="10" maxlength="10" id="phone" style="background: transparent;" type="tel"></ion-input>
        </ion-item>
        <ion-item [disabled]="edit" style="padding-bottom: 17px !important;">
            <ion-label color="medium"><small><ion-icon style="vertical-align: middle !important;" name="mail"></ion-icon>&nbsp; Work</small></ion-label>
            <ion-text style="max-width: 60% !important; overflow: hidden !important; text-overflow: ellipsis !important;" slot="end" color="primary"><small style="font-size: 15px;">{{user? user.email: 'N/A'}}</small></ion-text>
        </ion-item>
        <ion-item *ngIf="!edit" [disabled]="edit" style="padding-bottom: 17px !important;">
            <ion-label color="medium"><small><ion-icon style="vertical-align: middle !important;" name="mail"></ion-icon>&nbsp; Personal</small></ion-label>
            <ion-text style="max-width: 60% !important; overflow: hidden !important; text-overflow: ellipsis !important;" slot="end" color="primary"><small style="font-size: 15px;">{{user && user.pEmail? user.pEmail: 'N/A'}}</small></ion-text>
        </ion-item>
        <ion-item *ngIf="edit" [disabled]="!edit" style="padding-bottom: 17px !important;">
            <ion-label color="medium"><small><ion-icon style="vertical-align: middle !important;" name="mail"></ion-icon>&nbsp; Personal</small></ion-label>
            <ion-input value="{{user && user.pEmail? user.pEmail: ''}}" id="pEmail" style="background: transparent;" type="email"></ion-input>
        </ion-item>
        <ion-item lines="none" class="ion-padding">
            <div style="min-width: 200px;margin: auto;">
                <ion-button expand="block" color="{{edit? 'success': 'warning'}}" (click)="editUser()">
                    {{edit? 'Save': 'Edit'}} &nbsp;<ion-icon name="{{edit? 'checkmark-circle': 'create'}}"></ion-icon>
                </ion-button>
                <ion-button style="margin-top: 15px;" (click)="signOut()" expand="block" color="danger">
                    {{edit? 'Cancel': 'Sign Out'}} &nbsp;<ion-icon name="{{edit? 'close': 'log-out'}}"></ion-icon>
                </ion-button>
            </div>
        </ion-item>
    </ion-list>
</ion-content>