<ion-toolbar>
  <div style="padding-left: 18px;background-color: rgba(47,106,193,0.84)">
    <ion-text color="light" class="ion-padding" style="text-align: center; margin: auto;">
      <div style="margin: auto;">  
        <ion-icon name="arrow-back" style="vertical-align: middle;" mode="ios"></ion-icon>&nbsp;&nbsp;&nbsp;October 5&nbsp;-&nbsp;October 11&nbsp;&nbsp;&nbsp;<ion-icon style="vertical-align: middle;" mode="ios" name="arrow-forward"></ion-icon>
      </div>
    </ion-text>
  </div>
</ion-toolbar>
<ion-content fullscreen>
  <ion-slides mode="ios" [options]="slidesOpts" pager="true">
    <ion-slide>
      <div class="date" style="padding-top: 30px; ">
        <ion-chip color="danger">
          <ion-label><ion-icon name="calendar"></ion-icon> &nbsp;{{d | date: 'fullDate'}}</ion-label>
        </ion-chip>
      </div>
      <div style="margin-top: 20px; width: 95%;">
        <div>
            <canvas baseChart
            [data]="doughnutChartData" 
            [labels]="doughnutChartLabels" 
            [plugins]="pieChartPlugins" 
            [chartType]="doughnutChartType" 
            [colors]="colors"
            [options]="donutOptions"
          ></canvas>
        </div>
        <div class="details" style="padding-bottom: 20px; padding-top: 40px; display: flex; justify-content: space-evenly; flex-wrap: wrap;">
          <div style="width: 25%; margin-bottom: 32px;"><small style="display: block; color: #989aa2;">Area</small> <small>CX</small></div>
          <div style="width: 25%; margin-bottom: 32px;"><small style="display: block; color: #989aa2;">Route</small> <small>CX54</small></div>
          <div style="width: 25%; margin-bottom: 32px;"><small style="display: block; color: #989aa2;">Packages</small> <small>132</small></div>
          <div style="width: 25%; margin-bottom: 32px;"><small style="display: block; color: #989aa2;">Delivered</small> <small>120</small></div>
          <div style="width: 25%; margin-bottom: 32px;"><small style="display: block; color: #989aa2;">Returns</small> <small>12</small></div>
          <div style="width: 25%; margin-bottom: 32px;"><small style="display: block; color: #989aa2;">Missing</small> <small>3</small></div>
          <div style="width: 25%; margin-bottom: 32px;"><small style="display: block; color: #989aa2;">Extra</small> <small>3</small></div>
          <div style="width: 25%; margin-bottom: 32px;"><small style="display: block; color: #989aa2;">UTA</small> <small>6</small></div>
          <div style="width: 25%; margin-bottom: 32px;"><small style="display: block; color: #989aa2;">FDD</small> <small>3</small></div>
          <div style="width: 25%; margin-bottom: 32px;"><small style="display: block; color: #989aa2;">BC</small> <small>3</small></div>
          <div style="width: 25%; margin-bottom: 32px;"><small style="display: block; color: #989aa2;">REJ</small> <small>3</small></div>
          <div style="width: 25%; margin-bottom: 32px;"><small style="display: block; color: #989aa2;">OODT</small> <small>3</small></div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
        <h1>week 2</h1>
      </ion-slide>
  </ion-slides>
</ion-content>