.swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
    //   text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      overflow-y: scroll;
      display: block;
    }